form  { 
    display: table; 
    align-self: center;  
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

p { 
    display: table-row;  
}

label {   
    display: table-cell; 
    font-size: 17px;}

input { display: table-cell; }

input[type=text]:focus {
    border: 3px solid #555;
}


input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

body  { 
    background-color: rgb(153, 224, 219);
    text-align: center;
} 
