html,body {
    height: 100%;
    width: 100%;
    /* display: flex; */
}

.one{width: 30%;}
.two{width: 70%;}
.three{width: 100%; height: 80%;}

.platform {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
   }


.generator {
    border-style: solid;
    border-width: 2px;
    border-color: black;
  }
  
  .box {
      height: 100px;
      width: 100px;
  }

  /* table, th, td {
    border: 1px solid black;
  } */